md-toolbar {
    background-color: rgba(0, 124, 164, .2);
}

#content {
    padding-top: 40px;
}

/*
.main-nav-tools {
    margin: 100px;
}
*/

.dashboard-row {
    max-height: 550px;
}

.dashboard-item {
    padding: 10px;
}