<div ng-cloak class="tabsdemoDynamicHeight">
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="allies">
                <md-content class="md-padding tab-content">
                    <h1 class="md-display-2">Allies</h1>
                    <chat data-group="allies"></chat>
                </md-content>
            </md-tab>
            <md-tab label="professionals">
                <md-content class="md-padding tab-content">
                    <h1 class="md-display-2">Professionals</h1>
                    <chat data-group="professionals"></chat>
                </md-content>
            </md-tab>
            <md-tab label="public">
                <md-content class="md-padding tab-content">
                    <h1 class="md-display-2">Public</h1>
                    <chat data-group="public"></chat>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>