<div layout="row" layout-sm="column" class="dashboard-row" layout-wrap layout-margin>
    <group flex="40" class="dashboard-item"></group>
    <tab-container flex="60" class="dashboard-item" data-config="communication"></tab-container>
</div>
<div layout="row" layout-sm="column" class="dashboard-row" layout-padding>
    <chart flex="50" class="dashboard-item"></chart>
    <tab-container flex="50" class="dashboard-item" data-config="treatment"></tab-container>
</div>
<div layout="row" layout-sm="column" class="dashboard-row" layout-wrap>
    <survivors flex="60" class="dashboard-item"></survivors>
</div>