<div layout="column" ng-cloak>
    <div flex="60">
        <md-content class="chat-window">
            <md-list>
                <md-list-item ng-repeat="comment in vm.comments" class="md-3-line md-long-text">
                    <img ng-src="{{comment.face}}" class="md-avatar" alt="{{comment.who}}" />
                    <div class="md-list-item-text">
                        <h3>{{ comment.who }}</h3>
                        <h4>{{comment.what}}</h4>
                        <p>
                            {{comment.notes}}
                        </p>
                    </div>
                    <md-icon md-svg-icon="communication:messenger" ng-click="vm.expandComment" aria-label="Open Chat" class="md-secondary md-hue-3"></md-icon>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
    <div flex="30">Test</div>
</div>