<div class="chat-controls" id="popupContainer" ng-cloak>
    <div>
        <md-content class="chat-window">
            <div layout="row" layout-align="center center">
                <ng-md-icon icon="add_circle" aria-label="Open Chat" size="48" class="md-primary" ng-click="vm.expandComment($event, 'new')"></ng-md-icon>
            </div>
            <md-list>

                <md-list-item ng-repeat="comment in vm.comments" class="md-3-line md-long-text">


                    <img ng-src="{{comment.who.face || 'img/icon-user-default.png'}}" class="md-avatar" alt="'img/icon-user-default.png'" />

                    <div class="md-list-item-text">
                        <h3>{{ comment.who.first }}</h3>
                        <h4>{{comment.what}}</h4>
                        <p>
                            {{comment.notes}}
                        </p>
                        <p>{{comment.created | date:"MM/dd/yyyy 'at' h:mma"}}</p>
                    </div>
                    <img ng-if="comment.emoji" class="icon-36" ng-src="{{comment.emoji.src}}" />
                    <md-icon ng-if="vm.config.type === 'questions'" md-svg-src="img/icons/comment.svg" ng-click="vm.expandComment($event, comment)" aria-label="Open Chat" class="icon-48" ng-class="{'md-warn': !comment.answers.length}"></md-icon>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>