.chatControls {
    /* Add some right padding so that the text doesn't overlap the buttons */
}

.chatControls md-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.chatControls md-list-item > p,
.chatControls md-list-item > .md-list-item-inner > p,
.chatControls md-list-item .md-list-item-inner > p,
.chatControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.chatControls .secondary-button-padding p {
    padding-right: 100px;
}

.chat-window {
    max-height: 500px;
}

.icon-48 {
    width: 48px;
    height: 48px;
}

.icon-36 {
    width: 36px;
    height: 36px;
}